KINDE_CLIENT_ID=a3078c95d9844b07ac3216c2777189392
KINDE_CLIENT_SECRET=bccwgjaslfbjkldshfljLlsdfwnjuyklahjlj2q9245
KINDE_ISSUER_URL=https://janedoe.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

DATABASE_URL="postgresql://neondb_owner:npg_bhurUUiasdoZuqL@ep-polite-sheep-t9z844r7-pooler.ap-northamerica-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true&connect_timeout=10"
DIRECT_DATABASE_URL="postgresql://neondb_owner:npg_bhurUUiasdoZuqL@ep-polite-sheep-t9z844r7.ap-northamerica-1.aws.neon.tech/neondb?sslmode=require&connect_timeout=10&pool_timeout=10"